
$fishi-font-family-primary: 'Onest', sans-serif
$fishi-font-size-body: 1rem

$bg-color-dark: #27001E
$primary-color: #a674e6
$secondary-color: #6FDCF9
$border-radius: 0.5rem

$gradient-1: linear-gradient(to right bottom, #FFBEF4, #CEB2FF)
$gradient-1a: linear-gradient(to right bottom, #FFBEF4 60%, #CEB2FF)
$gradient-1b: linear-gradient(to right bottom, darken(#FFBEF4,40%), darken(#CEB2FF,40%))
$gradient-2: linear-gradient(to right bottom, darken(#FFBEF4,40%), darken(#CEB2FF,40%))
$gradient-3: linear-gradient(to right bottom, #ACF0CB, #6FDCF9)
