// @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;400;600;700&display=swap')

body
	font-family: $fishi-font-family-primary
	font-size: $fishi-font-size-body

h1
	font-size: 6rem
	font-weight: 100

	@include max-s
		font-size: 4rem

h2
	font-size: 3rem
	font-weight: 100

h3
	font-size: 2rem
	font-weight: 100

b,strong
	font-weight: 600

.highlight
	// margin: 0 0.4em
	padding: 0.1em 0.4em
	color: white
	border-radius: 0.8em 0.3em
	background: transparent
	background-color: rgba($primary-color, 20%)
	background-image: $gradient-2
	-webkit-box-decoration-break: clone
	box-decoration-break: clone // to make it nice on multiple lines
